*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #f1f1ff;
    margin: 0;
}
.all-header{
    padding: 10px;
    text-align: center;
    background-color: royalblue;
    color: white;
}
.all-header h1{
    font-size: 40px;
    margin: 20px;
}
.all-header p{
    margin-left: 100px;
}
.all-navbar{
    overflow: hidden;
    background-color: #1A1A1A;
}
.all-navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.all-navbar a:hover{
    background-color: whitesmoke;
    color: black;
}
.ctnr{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #dfdfff;
    color: black;
}


/* 博文链接处理 */
.lnk{
    margin: 20px 0px;
}
.lnk-title{
    font-size: 30px;
}

/* 图片 */
.lnk-noimg{
    padding: 4px;
    border: 2px dashed black;
    background-color: gray;
    border-radius: 8px;
    display: block;
    height: 200px; 
    width: 320px;
    max-width: 100%;  
    max-height: 100%;   
}
.lnk-img{
    padding: 4px;
    border: 2px dashed black;
    border-radius: 8px;
    display: inline-block;
    height: 200px; 
    width: auto;
    max-width: 100%;  
    max-height: 100%;     
}